body {
    font-family: Arial, sans-serif;
    background-image: url('/assets/DarthVader.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    z-index: 0;
}

.panel {
    position: relative;
    z-index: 1;
    max-width: 600px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transform: scale(1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

form button {
    align-self: center;
    padding: 10px 20px;
}


